/* Header Styles */
.header-container {
  background-color: #f9f9f9;
  padding: 20px 30px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  position: relative;  /* Make sure the header is part of the normal document flow */
  transition: background-color 0.3s ease, padding 0.3s ease;
}
.imageLogo {
  transition: opacity 0.3s ease;
  height: auto;
  width: 130px;
  margin: 17px 0 0 40px;
}

/* Add this to your existing CSS */
.header-container.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  max-width: 1000px;
  height: 0;
  margin: 15px auto;
  background-color: white; /* Change this to your desired background color */
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

/* Hide the logo when header is fixed */
.header-container.fixed .logo-container {
  display: none;
}

.logo-container {
  position: absolute; /* Keeps logo on the left */
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Navigation Styles */
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
}

.nav-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f39c12;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-top: 1px solid #444;
  }

  .nav-item:first-child {
    border-top: none;
  }
}
