/* Header Styles */
.header-container {
  background-color: #ffffff;
  padding: 20px 30px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  border-radius: 20px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  position: relative;
}

.imageLogo {
  transition: opacity 0.3s ease;
  height: auto;
  width: 130px;
}

/* Navigation Styles */
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f39c12;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
    background-color: transparent;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Logo */
  .imageLogo {
    width: 50px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 25px;
  }

  /* Hamburger Icon */
  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 23px;
  }

  .hamburger .bar {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: #77a1aa;
    transition: 0.3s;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg);
    position: relative;
    top: 7px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg);
    position: relative;
    top: -7px;
  }

  /* Mobile Menu */
  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 170px;
    background-color: #ffffff;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .navigation.nav-open {
    left: 0; 
  }

  .nav-list {
    flex-direction: column;
    gap: 30px;
    padding: 50px 10px 0;
  }
  .nav-link{
    border-bottom: #000 2px solid;
    font-size: 16px;

  }
}
