/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: transparent;
  flex-wrap: wrap;
  /* Ensure flex items wrap on smaller screens */
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

.hero-text {
  flex: 1;
  text-align: left;
  animation: fade-in-right 2s ease-out;
  margin-right: 20px;
  background-image: url(/public/assets/herotxt.png);
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(196, 0, 220);
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0;
  border-right: 3px solid #2d00f8;
  animation: typing 3s steps(20) 1s forwards infinite;
}

.hero-paragraph {
  color: #2C3E50;
  /* Slate Gray */
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 500px;
  font-weight: 400;
}

.hero-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(196, 0, 220);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: large;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  border-bottom: 4px #2f3c3f solid;
}

.hero-btn:hover {
  background-color: blueviolet;
}

.hero-image {
  flex: 1;
  text-align: end;
  animation: fade-in-left 2s ease-out;
}

.hero-image img {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
}

/* Stats Section */
.hero-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 20px;
  background-color: #f0f8ff;
  max-width: 950px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.hero-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hero-stat {
  text-align: center;
  flex: 1;
  padding: 10px;
}

.hero-stat-icon {
  width: 100px;
}

.hero-stat-title {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.hero-stat-paragraph {
  font-size: 1rem;
  color: #2C3E50;
  /* Slate Gray */
}

/* Typing Animation */
@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 100%;
    border-right: 2px solid transparent;
  }
}


/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .hero {
  background-color: transparent;
}

body.dark-mode .hero-text {
  background-image: none;
}

body.dark-mode .hero-title {
  color: #ffffff;
}

body.dark-mode .hero-subtitle {
  color: rgb(196, 0, 220);
}

body.dark-mode .hero-paragraph {
  color: #b0b0b0;
}

body.dark-mode .hero-btn {
  border-bottom: 2px #f5f5f5 solid;
}

body.dark-mode .hero-btn:hover {
  background-color: #ff00c8;
}

body.dark-mode .hero-stats {
  background-image: url(/public/assets/statesBG.png);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body.dark-mode .hero-stat-title {
  color: #ffffff;
}

body.dark-mode .hero-stat-paragraph {
  color: #b0b0b0;
}

/* RTL Styles */
html[dir='rtl'] .hero-btn {
  display: flex;
  align-items: start;
  width: 140px;
}

html[dir='rtl'] .hero-title {
  text-align: start;
}

html[dir='rtl'] .hero-subtitle {
  text-align: start;
  animation: none !important;
  width: auto !important;
  border-right: none !important;
}

html[dir='rtl'] .hero-paragraph {
  text-align: start;
}

/* Fix for Mobile Screens */
@media (max-width: 768px) {
  .hero {
    padding: 0;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .hero-text {
    width: 100%;
    max-width: 90%;
    padding-left: 15px;
    margin-top: -20px;
  }

  .hero-title {
    font-size: 1.8rem;
    color: rgb(196, 0, 220);
  }

  .hero-subtitle {
    font-size: 1.5rem;
    color: black;
  }

  .hero-paragraph {
    font-size: 0.9rem;
    max-width: 95%;
    color: #2C3E50;

  }

  .hero-btn {
    padding: 8px 20px;
    font-size: 0.9rem;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 120px;
    background-color: rgb(196, 0, 220);
  }

  .hero-image {
    display: none;
  }

  /* Stats Section */
  .hero-stats {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 78%;
    padding: 15px;
    gap: 20px;
    margin-top: -55px;
  }

  .hero-stat {
    flex: none;
    text-align: center;
    width: 100%;
  }

  .hero-stat-icon {
    width: 80px;
    color: #008080;
    /* Teal */
  }

  /* RTL Styles */


  html[dir='rtl'] body.dark-mode .hero-stat-paragraph {
    text-align: center;
    color: aliceblue;
  }

  html[dir='rtl'] .typing-animation {
    animation: typing 3s steps(20) 1s forwards infinite;
  }

  html[dir='rtl'] .hero-subtitle {
    
  }


}