.portfolio {
  background: #f7f7f7;
  padding: 10px 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-title {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio-description {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 50px;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

.portfolio-item {
  background: #fff;
  padding: 0 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.portfolio-item-image-container {
  position: relative;
}

.portfolio-item-image {
  width: 230px;
  height: 230px; /* Ensures responsive images */
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-swap-icons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.swap-icon {
  background-color: #007acc;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding-bottom: 6px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.swap-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.portfolio-item-title {
  font-size: 1.8rem;
  color: #333;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.portfolio-item-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin: 15px 0;
}

.portfolio-item-link {
  font-size: 1.1rem;
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.portfolio-item-link:hover {
  color: #ffcc00;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
}

.show-more-button {
  font-size: 1.2rem;
  background-color: #007acc;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.show-more-button:hover {
  background-color: #005fa3;
}

@media (max-width: 768px) {
  .portfolio-title {
    font-size: 2.5rem;
  }

  .portfolio-description {
    font-size: 1rem;
  }

  .portfolio-item-title {
    font-size: 1.6rem;
  }

  .portfolio-item-description {
    font-size: 0.9rem;
  }

  .portfolio-item img {
    height: 180px;
  }

  .show-more-button {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}
