.services {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.services-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2c3e50;
}

.services-description {
  font-size: 1.1rem;
  color: #7f8c8d;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service-card {
  display: flex;
  align-items: center;
  background: #ecf0f1;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icon-right {
  flex-direction: row-reverse;
}

.icon-left {
  flex-direction: row;
}

.service-icon-container {
  font-size: 5rem;
  color: #77a1aa;
  margin: 0 20px;
  transform: perspective(500px) rotateX(20deg);
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.service-text {
  text-align: left;
}

.service-text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #34495e;
}

.service-text p {
  font-size: 0.95rem;
  color: #7f8c8d;
}

.view-all {
  margin-top: 40px;
}

.view-all-btn {
  padding: 12px 35px;
  background-color: #77a1aa;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-all-btn:hover {
  background-color: rgb(68, 138, 114);
}

@media (max-width: 768px) {
  .service-card {
    width: 100%;
    flex-direction: column;
  }

  .service-icon-container {
    margin-bottom: 15px;
  }

  .service-text {
    text-align: center;
  }
}
