/* Original Styles */
.services {
  padding: 60px 50px;
  text-align: center;
  background-color: #fff; /* Light Gray */
  border-radius: 10px;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
  position: relative;
}

.services::before {
  content: '';
  position: absolute;
  top: 2%;
  left: 10%; /* Adjust to center the border or set to desired percentage */
  width: 80%; /* Border width as a percentage of the container's width */
  height: 1px;
  background-color: rgb(196, 0, 220); /* Border color */
}

.services.visible {
  opacity: 1;
  transform: translateY(0);
}
.container {
  max-width: 1300px;
  margin: 0 auto;

}
.services-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: rgb(196, 0, 220);
}

.services-description {
  font-size: 1.1rem;
  color: #6B6B6B;
  /* Darker gray for a softer contrast */
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.icon-right {
  flex-direction: row-reverse;
  border-bottom: #283738 solid 3px;
  /* Slate Gray */
}

.icon-left {
  flex-direction: row;
  border-bottom: #283738 solid 3px;
}

.service-card {
  display: flex;
  align-items: center;
  background-image: url(/public/assets/services.png);
  /* White */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 44%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.service-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(196, 0, 220), black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
  z-index: 0;
}

.service-card:hover::before {
  transform: scaleX(1);
  /* Fill from left to right */
}

.service-icon-container {
  font-size: 5rem;
  color: #008080;
  /* Teal for icons */
  margin: 0 20px;
  transition: transform 0.3s ease, color 0.3s ease;
  z-index: 1;
}

.service-image {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-text {
  text-align: left;
  z-index: 1;
}

.service-text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #283738;
  /* Slate Gray for subtitles */
  transition: color 0.3s ease;
}

.service-card:hover .service-text h3 {
  color: aliceblue;
  /* Darker teal for subtitle on hover */
}

.service-text p {
  font-size: 0.95rem;
  color: #8E8E8E;
  /* Soft Gray for description */
  transition: color 0.3s ease;
}

.service-card:hover .service-text p {
  color: #FFFFFF;
  /* White for description on hover */
}

.explore-more {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(196, 0, 220);
  /* Teal for primary action text */
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  /* Ensure the text has correct positioning */
}

.service-card:hover .explore-more {
  color: aliceblue;
  /* White for action text on hover */
  transform: translateX(5px);
}

.explore-more svg {
  margin-left: 5px;
  margin-top: 3px;
  transition: transform 0.3s ease;
  /* Added transition for the icon */
}

.service-card:hover .explore-more svg {
  transform: translateX(5px);
  /* Make the icon move in sync with the text */
}

.view-all-btn {
  padding: 12px 35px;
  background-color: rgb(196, 0, 220);
  /* Teal for button background */
  color: #FFFFFF;
  /* White for button text */
  font-size: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px auto;
}

.view-all-btn:hover {
  background-color: blueviolet;
  /* Darker teal for hover effect */
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: transparent;
  color: #e0e0e0;
}

body.dark-mode .services {
  background-color: transparent; /* Dark background */
  color: #e0e0e0; /* Light text */
}

body.dark-mode .services::before {
  background-color: #e0e0e0; /* Lighter border */
}

body.dark-mode .services-title {
  color: rgb(196, 0, 220); /* Keep the title color */
}

body.dark-mode .services-description {
  color: #d3d3d3; /* Light gray for description */
}

body.dark-mode .service-card {
  background-color: #3a3a3a; /* Darker background for cards */
  color: #e0e0e0; /* Light text */
}

body.dark-mode .service-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

body.dark-mode .service-card::before {
  background: linear-gradient(to left, #ff00c8, black);
}

body.dark-mode .service-icon-container {
  color: #00bcd4; /* Lighter Teal for icons */
}

body.dark-mode .service-text h3 {
  color: #c3c7c9; /* Lighter color for titles */
}

body.dark-mode .service-text p {
  color: #b6c1c7; /* Lighter gray for description */
}

body.dark-mode .explore-more {
  color: rgb(196, 0, 220); /* Keep primary action color */
}

body.dark-mode .view-all-btn {
  background-color: rgb(196, 0, 220); /* Keep the button color */
  border-bottom: 2px #f5f5f5 solid;

}

body.dark-mode .view-all-btn:hover {
  background-color: #ff00c8; /* Darker shade for hover */
}


@media (max-width: 768px) {
  .service-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 20px;
  }

  .service-icon-container {
    text-align: start;
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .services-title {
    font-size: 1.5rem;
  }

  .service-image {
    max-width: 150px;
    order: -1;
  }

  .service-text {
    text-align: start;
  }

  .service-text h3 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .service-text p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .service-card:hover {
    border-bottom: 5px solid #283738;
    /* Slate Gray */
    border-right: none;
  }

  .services-title {
    font-size: 1.65rem;
    text-align: start;
  }

  .services-description {
    text-align: start;
    font-size: 1rem;
  }

  .view-all-btn {
    display: inline-block;
    background: rgb(196, 0, 220); /* Teal */
    /* Teal for button background */
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    border-bottom: 4px #283738 solid;
    padding: 8px 20px;
    font-size: 0.9rem;
    margin: 20px auto;
    width: 200px;
  }
  .view-all-btn:hover {
    transform: scale(1.05);
    background: #ff00c8;
  }
}

html[dir='rtl'] .services-title,
html[dir='rtl'] .services-description,
html[dir='rtl'] .service-text {
  text-align: right;
}

html[dir='rtl'] .service-card {
  flex-direction: row-reverse;
}

html[dir='rtl'] .service-icon-container {
  margin-left: 20px;
  margin-right: 0;
}
@media (max-width: 768px) {
  html[dir='rtl'] .service-card {
    width: 100%;
    flex-direction: column-reverse; /* Row-reverse for RTL */
    align-items: center;
    text-align: end; /* Align text to the end (right) */
    padding: 20px;
  }

  html[dir='rtl'] .service-icon-container {
    text-align: end; /* Align icons to the end (right) */
    font-size: 3rem;
    margin-bottom: 10px;
  }

  html[dir='rtl'] .services-title {
    font-size: 1.5rem;
    text-align: end; /* Align title to the end (right) */
  }

  html[dir='rtl'] .service-image {
    max-width: 150px;
    order: -1;
  }

  html[dir='rtl'] .service-text {
    text-align: start; /* Align text to the right for RTL */
  }

  html[dir='rtl'] .service-text h3 {
    font-size: 1rem;
    margin-top: 10px;
  }

  html[dir='rtl'] .service-text p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  html[dir='rtl'] .service-card:hover {
    border-bottom: 5px solid #283738; /* Slate Gray */
    border-left: none; /* Ensure there's no border on the left for RTL */
  }

  html[dir='rtl'] .services-title {
    font-size: 1.65rem;
    text-align: end; /* Align title to the right */
  }

  html[dir='rtl'] .services-description {
    text-align: end; /* Align description to the right */
    font-size: 1rem;
  }

  html[dir='rtl'] .view-all-btn {
    display: inline-block;
    background: rgb(196, 0, 220); /* Teal */
    color: white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    border-bottom: 4px #283738 solid;
    padding: 8px 20px;
    font-size: 0.9rem;
    margin: 20px auto;
    width: 200px;
  }

  html[dir='rtl'] .view-all-btn:hover {
    transform: scale(1.05);
    background: #ff00c8;
  }
}

