.terms-of-service {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #eef2f3, #d9e2ec);
  border-radius: 12px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.terms-of-service h1 {
  font-size: 2.2em;
  color: rgb(196, 0, 220);
  font-weight: bold;
  text-align: center;
}

.terms-of-service p {
  font-size: 1rem;
  color: #444;
  line-height: 1;
  transition: color 0.3s ease-in-out;
}

.terms-of-service p:hover {
  color: #222;
}

.terms-of-service section {
  margin-bottom: 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.terms-of-service section:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.terms-of-service h2 {
  font-size: 1.2em;
  color: rgb(196, 0, 220);
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.terms-of-service h2:hover {
  color: #77a1aa;
}

.terms-of-service a {
  color: rgb(196, 0, 220);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.terms-of-service a:hover {
  text-decoration: underline;
  color: red;
}

@media (max-width: 768px) {
  .terms-of-service {
    margin-top: 20px;
    background: #ffffff;

  }

  .terms-of-service h1 {
    font-size: 1.8em;
    text-align: start;
  }

  .terms-of-service h2 {
    font-size: 1.4em;
  }
}