/* General Styles */
.professional-benefits-container {
    padding: 20px 5%;
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
}

.professional-benefits-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}


/* Titles */
.professional-benefits-subtitle {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 8px;
}

.professional-benefits-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

/* Benefits Grid */
.professional-benefits-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 50px;
    margin-top: 30px;
}

/* Benefit Cards */
.professional-benefits-card {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15),
        0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.professional-benefits-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2),
        0 3px 6px rgba(0, 0, 0, 0.15);
}


body.dark-mode .professional-benefits-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.15),
        0 1px 3px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

body.dark-mode .professional-benefits-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2),
        0 2px 6px rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.08);
}


.professional-benefits-image {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.professional-benefits-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 8px;
}

.professional-benefits-card-description {
    font-size: 0.95rem;
    color: var(--text-color);
    opacity: 0.9;
}

/* RTL Support */
[dir="rtl"] .professional-benefits-title {
    text-align: right;
}

[dir="rtl"] .professional-benefits-grid {
    direction: rtl;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .professional-benefits-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .professional-benefits-container {
        margin: -20px;
    }

    .professional-benefits-grid {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .professional-benefits-title {
        font-size: 1.8rem;
    }
}
