.graphic-design-container {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
  max-width: 1300px; 
  margin: 0 auto;
}

/* Navbar styles */
.graphic-design-navbar {
  background: linear-gradient(90deg, rgb(196, 0, 220), #1A237E); /* Vibrant Teal and Dark Blue */
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.graphic-design-navbar:hover {
  background: linear-gradient(90deg, rgb(196, 0, 220), #162F69); /* Slightly darker on hover */
}

.graphic-design-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
}

/* Subcategory styles */
.graphic-design-subcategory {
  margin: 3rem 0;
}

.subcategory-title {
  font-size: 1.3rem;
  margin-bottom: 5rem;
  text-align: start;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #1A237E; /* Dark Blue */
  border-bottom: #1A237E solid 1px;
}

/* Card container styles */
.graphic-design-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: start;
}


@media (max-width: 768px) {
  .graphic-design-container {
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;
  }

  .graphic-design-navbar {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem;
  }

  .graphic-design-subcategory {
    margin: 2rem 0;
  }

  .subcategory-title {
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .graphic-design-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

}
