.graphic-design-container {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
  max-width: 1300px; 
  margin: 0 auto;
}

/* Navbar styles */
.graphic-design-navbar {
  background: linear-gradient(90deg, #7f8c8d, #34495e);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.graphic-design-navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
}

/* Subcategory styles */
.graphic-design-subcategory {
  margin: 3rem 0;
}

.subcategory-title {
  font-size: 1.3rem;
  margin-bottom: 5rem;
  text-align: start;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #283738;
  border-bottom: #283738 solid 1px;
}

/* Card container styles */
.graphic-design-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: start;
}

/* Project card styles */
.graphic-design-card {
  position: relative;
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 1;
  padding: 20px 30px;
}

.graphic-design-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Carousel styles */
.graphic-design-carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.graphic-design-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.graphic-design-card:hover .graphic-design-carousel-image {
  transform: scale(1.1);
}

/* Overlay styles */
.graphic-design-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.graphic-design-card:hover .graphic-design-overlay {
  opacity: 1;
}

.graphic-design-demo-icon {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

/* Text styles */
.graphic-design-title {
  text-align: start;
  margin: 1rem 13px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #77a1aa;
}

.graphic-design-description {
  text-align: start;
  font-size: 1rem;
  color: #7f8c8d;
  margin: 0 1rem 1rem;
}

@media (max-width: 768px) {
  .graphic-design-container {
    padding: 1rem;
    margin: 2rem 1rem 1rem 1rem;

  }

  .graphic-design-navbar {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem;
  }

  .graphic-design-subcategory {
    margin: 2rem 0;

  }

  .subcategory-title {
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .graphic-design-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .graphic-design-card {
    width: 90%;
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .graphic-design-carousel {
    height: 180px; /* Ajustement des images */
  }

  .graphic-design-carousel-image {
    object-fit: cover;
    border-radius: 10px;
  }

  .graphic-design-overlay {
    opacity: 1; /* Toujours visible sur mobile */
    background: rgba(0, 0, 0, 0.4);
  }

  .graphic-design-demo-icon {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
  }

  .graphic-design-title {
    font-size: 1rem;
    margin: 1rem 3px;
  }

  .graphic-design-description {
    font-size: 0.9rem;
    text-align: start;
    margin: 1rem 3px;
  }
}
