.category-production{
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  overflow-x: hidden;
  max-width: 1300px; 
  margin: 0 auto;
}
.category-production__container {
  font-family: Arial, sans-serif;

}

.category-production__navbar {
  background: linear-gradient(90deg, #7f8c8d, #34495e);
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-production__subcategory-title{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #283738;
}

.category-production__subcategory {
  margin: 3rem 0;
}

.category-production__project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.category-production__project-card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 16px;
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 1;
  transform: scale(0.9);
  padding: 20px 30px;
}

.category-production__video-container {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust as needed */
  overflow: hidden;
}

.category-production__video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.category-production__video-container:hover .category-production__video-preview {
  transform: scale(1.1); /* Zoom effect on hover */
}

.category-production__project-title {
  text-align: start;
  margin: 1rem 13px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #77a1aa;
}
.category-production__project-description {
  text-align: start;
  font-size: 1rem;
  color: #7f8c8d;
  margin: 0 1rem 1rem;
}
@media (max-width: 768px) {
  .category-production {
    padding: 1rem;
  }

  .category-production__navbar {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.8rem;
  }

  .category-production__subcategory {
    margin: 2rem 0;
  }

  .category-production__subcategory-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .category-production__project-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .category-production__project-card {
    width: 90%;
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .category-production__video-container {
    height: auto;
  }

  .category-production__video-preview {
    border-radius: 10px;
  }

  .category-production__project-title {
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
  }

  .category-production__project-description {
    font-size: 0.9rem;
    text-align: center;
    margin: 0 1rem;
  }
}

